<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167007835003-a0u3r5u7ldvbfp9eahgjr87083s91ohk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167007835003-a0u3r5u7ldvbfp9eahgjr87083s91ohk</string>
	<key>API_KEY</key>
	<string>AIzaSyBZc11mYj8RqXEujidreiCSrfj2dg9P398</string>
	<key>GCM_SENDER_ID</key>
	<string>167007835003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProviderGetItFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-provider-firebas-9417d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-provider-firebas-9417d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167007835003:ios:5501d74cb322fa804063de</string>
</dict>
</plist>